IF NOT EXISTS (
    SELECT name 
    FROM sys.databases 
    WHERE name = 'tradeportdb'
)
BEGIN
    CREATE DATABASE tradeportdb;
END
GO


USE [tradeportdb]
GO


/****** Object:  Table [dbo].[Users]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImage]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImage]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetails]') AND type in (N'U'))
DROP TABLE [dbo].[OrderDetails]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2/22/2025 10:54:57 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
DROP TABLE [dbo].[Notification]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[Subject] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EmailSend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [uniqueidentifier] NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OrderDetails_1] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [uniqueidentifier] NOT NULL,
	[RetailerID] [uniqueidentifier] NOT NULL,
	[ManufacturerID] [uniqueidentifier] NULL,
	[DeliveryPersonnelID] [uniqueidentifier] NULL,
	[OrderStatus] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[PaymentMode] [int] NOT NULL,
	[PaymentCurrency] [nvarchar](3) NOT NULL,
	[ShippingCost] [decimal](10, 2) NOT NULL,
	[ShippingCurrency] [nvarchar](3) NOT NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ImageID] [uniqueidentifier] NOT NULL,
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductImageURL] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](50) NULL,
	[FileExtension] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductCode] [nvarchar](10) NOT NULL,
	[ManufacturerID] [uniqueidentifier] NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [int] NOT NULL,
	[WholesalePrice] [decimal](10, 2) NULL,
	[RetailPrice] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[RetailCurrency] [nvarchar](3) NULL,
	[WholeSaleCurrency] [nvarchar](3) NULL,
	[ShippingCost] [decimal](10, 2) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/22/2025 10:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[loginID] [varchar](255) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [binary](50) NOT NULL,
	[Role] [int] NOT NULL,
	[PhoneNo] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [ProductPrice], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (N'90d2ba82-5a93-4752-b6fd-08dd534f2662', N'07de6ff5-ad09-4ee7-ffa9-08dd534f25c1', N'163dd606-2643-456c-80fe-1d643381be73', 10, CAST(230.00 AS Decimal(10, 2)), 1, CAST(N'2025-02-22T22:42:36.797' AS DateTime), N'00000000-0000-0000-0000-000000000000', NULL, NULL)
GO
INSERT [dbo].[Products] ([ProductID], [ProductCode], [ManufacturerID], [ProductName], [Description], [Category], [WholesalePrice], [RetailPrice], [Quantity], [RetailCurrency], [WholeSaleCurrency], [ShippingCost], [CreatedOn], [UpdatedOn], [IsActive]) VALUES (N'4c2b78c5-6f85-47b0-8fbc-2ed8aa179a4e', N'P005', N'a30a09ba-15b6-4d8e-99a0-16c693e4df78', N'Monitor', N'27-inch 4K monitor', 4, CAST(250.00 AS Decimal(10, 2)), CAST(350.00 AS Decimal(10, 2)), 75, N'USD', N'USD', CAST(25.00 AS Decimal(10, 2)), CAST(N'2025-02-22T22:37:00.557' AS DateTime), CAST(N'2025-02-22T22:37:00.557' AS DateTime), 1)
GO
INSERT [dbo].[Users] ([UserID], [loginID], [UserName], [Password], [Role], [PhoneNo], [Address], [Remarks], [CreatedOn], [IsActive]) VALUES (N'4bd97ff5-e20d-4d47-8f6e-285e0f1ffc3a', N'admin@gmail.com', N'su', 0xFCC5F691B5D61F3C42EAA77BA7977EFEF8A5B6B155744967261967621979A97E000000000000000000000000000000000000, 1, N'00100230', N'SG', N'Nil', CAST(N'2025-02-03T22:45:50.000' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [loginID], [UserName], [Password], [Role], [PhoneNo], [Address], [Remarks], [CreatedOn], [IsActive]) VALUES (N'6d0f5be2-1e4e-47b1-9081-60320b8a9d60', N'retailer@gmail.com', N'su', 0xFCC5F691B5D61F3C42EAA77BA7977EFEF8A5B6B155744967261967621979A97E000000000000000000000000000000000000, 2, N'00100230', N'SG', N'Nil', CAST(N'2025-02-03T22:46:06.000' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [loginID], [UserName], [Password], [Role], [PhoneNo], [Address], [Remarks], [CreatedOn], [IsActive]) VALUES (N'1b675eb0-367b-49aa-a92f-6c572c0d7d39', N'manfacture@gmail.com', N'su', 0xFCC5F691B5D61F3C42EAA77BA7977EFEF8A5B6B155744967261967621979A97E000000000000000000000000000000000000, 3, N'00100230', N'SG', N'Nil', CAST(N'2025-02-03T22:46:25.000' AS DateTime), 1)
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((1)) FOR [EmailSend]
GO
